/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'inconsolata';
    src: url('./fonts/inconsolata-webfont.eot');
    src: url('./fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/inconsolata-webfont.woff2') format('woff2'),
         url('./fonts/inconsolata-webfont.woff') format('woff'),
         url('./fonts/inconsolata-webfont.ttf') format('truetype'),
         url('./fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

#drop_zone{
	width: 100%;
	height: 50px;
	border: 1px dashed black;
}

#beaglert-console{
	/*height: 150px;
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	z-index: 100;*/
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	background-color: white;
}
#beaglert-consoleForm{
	height: 21px;
	border-top: 1px solid black;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#beaglert-consoleWrapper{
	width: 100%;
	font-family: inconsolata;
	font-size: 10pt;
}
.beaglert-console-log-in::before{
	content: '>';
	color: inherit;
	padding-right: 0.65em;
	opacity: 0.6;
}
.beaglert-console-log-in{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
}
.beaglert-console-shell::before{
	content: '#';
	color: inherit;
	padding-right: 0.65em;
	opacity: 0.6;
}
.beaglert-console-shell{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;
	color: rgb(96, 96, 150);
}
.beaglert-console-git::before{
	content: 'git:';
	color: inherit;
	padding-right: 0.65em;
	opacity: 0.6;
}
.beaglert-console-git{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;
	color: rgb(96, 150, 96);
}
.beaglert-console-make::before{
	content: 'make:';
	color: inherit;
	padding-right: 0.65em;
	opacity: 0.6;
}
.beaglert-console-make{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;
}
.beaglert-console-bela::before{
	content: 'bela:';
	color: inherit;
	padding-right: 0.65em;
	opacity: 0.6;
}
.beaglert-console-bela{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;
	color: rgb(64, 100, 100);
}
.beaglert-console-log{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
}
.beaglert-console-warning::before{
	content: '!';
	color: yellow;
	padding-right: 0.65em;
}
.beaglert-console-warning{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
	background-color: rgba(255, 255, 0, 0.2);
}
.beaglert-console-error::before{
	content: '!';
	color: red;
	padding-right: 0.65em;
}
.beaglert-console-error{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
	background-color: rgba(255, 0, 0, 0.2);
}

.beaglert-console-iwarning::before{
	content: '!';
	color: yellow;
	padding-right: 0.65em;
}
.beaglert-console-iwarning{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
	background-color: rgba(255, 255, 0, 0.2);
}
.beaglert-console-ierror::before{
	content: '!';
	color: red;
	padding-right: 0.65em;
}
.beaglert-console-ierror{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
	background-color: rgba(255, 0, 0, 0.2);
}
.beaglert-console-notify::before{
	content: 'i';
	color: green;
	padding-right: 0.65em;
}
.beaglert-console-notify{
	text-indent: -1.65em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px 30px;	
	background-color: rgba(0, 255, 0, 0.2);
	transition: transform 0.2s ease-out, background-color 1s ease-out;
}

.beaglert-console-ierror, .beaglert-console-iwarning, .beaglert-console-warning, .beaglert-console-error{
	cursor: pointer;
	transition: transform 0.1s ease-out;
}
.beaglert-console-ierror:hover a, .beaglert-console-iwarning:hover a{
	text-decoration: underline;
}

.beaglert-console-collapsed{
	transform: scaleY(0);
}
.beaglert-console-faded{
	background-color: rgba(255, 255, 255, 0.2);
}
.beaglert-console-rejectnotification{
	background-color: rgba(255, 0, 0, 0.2);
	cursor: pointer;
}
.beaglert-console-rejectnotification::before{
	content: '!';
	color: red;
	padding-right: 0.65em;
}

#beaglert-console-inputRight{
	display: table-cell;
	width: 100%;
}
#beaglert-console-inputLeft{
	display: table-cell;
}

#beaglert-consoleInput{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: inherit;
	border: inherit;
	color: inherit;
	padding: 5px 5px;
	font-family: inconsolata;
}
#beaglert-consoleInput:focus {
    outline-width: 0;
}
#beaglert-consoleInput-pre{
	color: inherit;
	font-family: inconsolata;
	font-size: 0.8em;
	display: inline;
    white-space: nowrap;
	padding: 5px;
	opacity: 0.2;
	transition: opacity 0.3s;
}

/*======= OLD TOOLBAR ========*/

/*#toolbar{
	position: absolute;
	bottom: 150px;
	width: 100%;
	height: 40px;
	font-family: inconsolata;
	font-size: 10pt;
	box-sizing: border-box;
	border-top: 1px groove black;
	border-bottom: 1px groove black;
	z-index: 99;
}
#toolbar.toolbar-dark{
	border-color: none;
}
.toolbar-underlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #d8d8d8;
	width: 100%;
	height: 100%;
	z-index: 0;
}
// .toolbar-dark .toolbar-underlay{
// 	background-color: #d8d8d8;
// }

.mainButton{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: red;
	margin: 4px 18px;
	cursor: pointer;
}
.mainButton-running{
	background-color: green;
}
.horizontalDivider{
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: black;
	left: 66px;
	top: 18px;
	cursor: ns-resize;
}
.toolbar-dark .horizontalDivider{
	background-color: white;
}
.toolbar-top, .toolbar-bottom{
	position: absolute;
	width: 100%;
	left: 66px;
	margin-left: 20px;
}
.toolbar-top{
	top: 0;
	bottom: 18px;
}
.toolbar-bottom{
	bottom: 0;
	top: 20px;
}
.no-user-select{
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}*/

/*====== NEW TOOLBAR ======*/

@keyframes spin {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}
.spinning{
	animation-duration: 0.5s;
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#toolbar {
	/*position: absolute;
	bottom: 150px;
	width: 100%;
	height: 40px;
	font-family: Consolas;
	font-size: 10pt;
	z-index: 99;
	background-color: #e1e1e1;*/
	width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    font-family: Consolas;
    font-size: 10pt;
    background-color: #e1e1e1;
    z-index: 100;
}

/* This is the container for the two buttons and text. */
.toolbar-wrapper {
	width: calc(100% - 260px);
}
.toolbar-control {
	width: 22%;
	float: left;
	/*border: 1px solid red;*/
	height: 40px;
	margin-left: -2px;
}
	.control-button {
		min-height: 39px;
		width: 40px;
		display: inline-block;
		margin-left: 1px;
		margin-top: 5px;
		float: left;
	}
	.control-text {
		width: 30%;
		height: 100%;
	}
	.toolbar-control:first-child {
		margin-left: 20px;
	}

/*	
	.control-button:nth-child(2) {
		margin-left: -7px;
	}
	*/
// .statustool- {
// 	width: calc((100% - 260px) / 4);
// 	height: 40px;
// 	margin-top: 5px;
// 	float: left;
// 	display: inline-block;
// }
	.status-text {
		width: 33%;
		float: left;
		color: #fff;
		text-align: right;
	}
		.status-text:nth-child(3) {
			margin-right: 0;
		}


#run {
	transform-origin: 15px 15px;
	background: url("images/icons/run_grey2.png") no-repeat;
}
#run:hover {
	background: url("images/icons/run_white2.png") no-repeat;
}
#run.spinning{
	background: url("images/icons/run_green30.png") no-repeat;
}

#stop {
	margin-left: -2px;
	background: url("images/icons/stop_grey.png") no-repeat;
}
#stop:hover {
	margin-left: -2px;
	background: url("images/icons/stop_white.png") no-repeat;
}
.one {
	margin: 0;
}

#new-tab {
	background: url("images/icons/tab_grey.png") no-repeat;
}
#new-tab:hover {
	background: url("images/icons/tab_white.png") no-repeat;
}
#download {
	background: url("images/icons/dl_grey.png") no-repeat;	
}
#download:hover {
	background: url("images/icons/down_white.png") no-repeat;	
}
#console {
	background: url("images/icons/console_grey4.png") no-repeat;
}
#console:hover {
	background: url("images/icons/console_white4.png") no-repeat;
}
#scope {
	background: url("images/icons/scope_grey10.png") no-repeat;	
}
#scope:hover {
	background: url("images/icons/scope_white10.png") no-repeat;
}


#logo {
	position: absolute;
	top: -27px;
	left: calc(100% - 160px);
	margin-right: 20px;
	width: 140px;
	float: right;
	display: inline-block;
}

#status {
	position: absolute;
	top: 0;
	width: 30px;
	height: 35px;
	left: calc(100% - 225px);
	background: url("images/toolbar.png") -140px 35px;
	cursor: initial;
	display: inline;
}
.control-text {
	font-family: inconsolata;
	font-size: 14px;
	color: white;
	display: inline-block;
	margin-top: 12px;
	float: left;
}
/*
// OLD TOOLBAR STYLES
// #control {
// 	margin: 0 0 0 20px;
// 	float: left;
// 	display: inline-block;
	
// }

// 	.controlPair{
// 		float: left;
// 	}
// 		.controlButtons {
// 			width: 75px;
// 			float: left;
// 			cursor: pointer;
// 		}
// 		.controlButtons span {
// 			display: inline-block;
// 		}
// 		.toolbar-button {
// 			margin:0;
// 			padding: 0;
// 			background: #ccc;
// 			height: 45px;
// 			width: 45px;
// 			display: inline-block;
// 		}
// 			.toolbar-button:hover {
// 				background: #aaa;
// 			}
// 			#run {
// 				background: url("images/toolbar.png") 0 30px;
// 				width: 30px;
// 				height: 30px;
// 			}
// 			#run:hover {
// 				background: url("images/toolbar.png") -35px 30px;
// 			}
// 			#stop {
// 				background: url("images/toolbar.png") -70px 30px;	
// 				width: 30px;
// 				height: 30px;
// 			}
// 			#stop:hover {
// 				background: url("images/toolbar.png") -105px 30px;	
// 			}
// 			.one {
// 				margin: 0;
// 			}

// 			#newTab {
// 				background: url("images/toolbar.png") -245px 0;
// 				width: 30px;
// 				height: 30px;
// 			}
// 			#newTab:hover {
// 				background: url("images/toolbar.png") -210px 0;
// 			}
// 			#download {
// 				background: url("images/toolbar.png") 0 0;	
// 				width: 30px;
// 				height: 30px;
// 			}
// 			#download:hover {
// 				background: url("images/toolbar.png") -35px 0;	
// 			}
// 				.two {
// 					margin: 0;
// 				}
// 			#console {
// 				background: url("images/toolbar.png") -70px 0;
// 				width: 30px;
// 				height: 35px;
// 			}
// 			#console:hover {
// 				background: url("images/toolbar.png") -105px 0;
// 			}
// 			#scope {
// 				background: url("images/toolbar.png") -140px 0;	
// 				width: 30px;
// 				height: 35px;
// 			}
// 			#scope:hover {
// 				background: url("images/toolbar.png") -175px 0;	
// 			}
// 				.three {
// 					margin: 0;
// 				}
// 			#status {
// 				position: absolute;
// 				top: 2px;
// 				width: 30px;
// 				height: 35px;
// 				left: calc(100% - 225px);
// 				background: url("images/toolbar.png") -140px 35px;
// 				cursor: initial;
// 				display: inline;
// 			}
// 			.control-text {
// 				font-family: inconsolata;
// 				font-size: 14px;
// 				color: white;
// 				height: 15px;
// 				width: 120px;
// 				display: inline-block;
// 				margin-top: 12px;
// 			}
*/




body {
	overflow: hidden;
}

#editor {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 60px;
	bottom: 40px;
	z-index: 97;
}
#right {
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(100% - 60px);
	background: #e8e8e8;

}
#saveAsName{
	height: 8px;
}

#img-display-parent, #pd-svg-parent{
	display: 'none';
	text-align: center;
	font-family: inconsolata;
}

#audio-parent{
	display: 'none';
	text-align: center;
    margin-top: 50px;
    bottom: 50px;
}

/* breakpoints */
.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 0px 0px 1px 1px red inset; 
} 
.breakpointMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}
#listContainer{
  margin-top:15px;
}
 
#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
 
/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(../images/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(../images/expanded.png);
}

#expList table {
	border-collapse: initial;
    border-spacing: 10px 0;
}
.debuggerType{
	color: blue;
}
.debuggerName{
	color: green;
}
.debuggerValue{
	color: red;
}
.debuggerOutOfScope{
	opacity: 0.5;
}
/*
#topBar {
  margin: 0 50px;
  height: 30px;
}
	#logo {
		width: 90%;
		float: left;
	}
	#menu {
		width: 10%;
		float: right;
	}*/
		.svg {
			width: auto;
			height: 25px;
			float: right;
			clear: right;
			// margin-top: 3px;
		}

/* ======= FLEX STUFF ====== */


#flexit {
	display: inline-block;
	margin: 0;
}
#innerContent {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/* animations */
.left-out {
left: 300px;
/*animation: left-out 1s both;*/
}
.left-in {
left: 62px;
/*animation: left-in 1s both;*/
}
.right-out {
right: calc(100% - 300px);
/*animation: right-out 1s both;*/
}
.right-in {
right: calc(100% - 62px);
/*animation: right-in 1s both;*/
}
@keyframes left-out {
0% {
  width: 67%;
  }
100% {
  width: 100%;
  }
}
@keyframes left-in {
0% {
  width: 100%;
  }
100% {
  width: 67%;
  }
}
@keyframes right-out {
0% {
  right: 0;
  }
100% {
  right: -33%;
  }
}
@keyframes right-in {
0% {
  right: -33%;
  }
100% {
  right: 0;
  }
}


/* ======= IT'S TABS ======== */


#tabs {
    margin: 0; 
	position: relative;   
	width: 100%;
	height: 100%;
	top: 0;
    z-index: 101;
    }
    /* == Style for each pullout tab == */
    .tab label {
      background: #bbbbbb; 
      padding: 12px 0;
      margin: 0 auto;
      
      width: 65px;
      height: 30px;
      display: block;
    }
    .tab span {
    	padding-top: 40px;
    	cursor: pointer;
    	}

    .tab [type=radio] {
      display: none;   
    }
    .tab label:hover {
    	background: #ddd;
    	cursor: pointer;
    }
    /* == Style for the content pane of each tab == */
    .tabContent {
      position: absolute;
      height: calc(100% - 50px);
      top: 0px;
      left: 62px;
      background: #fff;
      right: 0;
      bottom: 0;
      padding: 20px 12px 20px 20px;
      
      visibility: hidden;
      overflow: scroll;
      width: 405px;
    }

    .tab h1 {
    	font-family: Consolas;
    	font-size: 25px;
    	color: #82C889;
    	display: inline;
    	line-height: 40px;
    }

    .tab h2 {
    	font-family: Consolas, sans-serif;
    	font-size: 16px;
    	color: #A8E2AD;
    	line-height: 30px;
    }
	.tab h3 {
    	font-family: Consolas, sans-serif;
    	font-size: 14px;
    	color: #666;
    	line-height: 30px;
    	padding-left: 20px;
    }
    .tab .docContent {
    	font-family: Consolas, sans-serif;
    	font-size: 12px;
    	color: #000;
    	line-height: 18px;
    	padding-left: 20px;
    }
    label.ticky {
    	display: inline-block;
    	height: 16px;
    	padding: 0;
	background: #fff;
	width: 100%;
	}
		label.ticky:hover {
			background: #fff;
			cursor: default;
		}




    /* ======== IMAGES IN EACH TAB FROM SPRITE ======== */
    
    #open-tabs {
    	width: 30px;
    	display: block;
    	margin: 0 auto;
    	cursor: pointer;
    }
    #tab-0 {
		background: url("images/icons/arrow2_25.png") center center no-repeat #e8e8e8;
    	margin-bottom: -3px; 
    	height: 25px;
    	}
		#tab-0.open {
			background: url("images/icons/x25.png") center center no-repeat;
			}    
    
    #settings {
    	width: 30px;
    	background: url("images/icons/gear-white25.png") no-repeat;
    	display: block;
    	margin: 0 auto;
    }

    #tab-1:checked + label>span{
    	background: url("images/icons/gear-grey25.png") no-repeat;
    	cursor: default;
    }
    
    #file-explorer {
    	width: 30px;
    	background: url("images/icons/folder-white25.png") no-repeat;
    	display: block;
    	margin: 0 auto;
    }
    #tab-2:checked + label>span{
   		background: url("images/icons/folder-grey25.png") no-repeat;
   		cursor: default;
    }
    
    #debugger {
    	width: 30px;
    	background: url("images/icons/bug-white25.png") no-repeat;
    	display: block;
    	margin: 0 auto;
    }
    #tab-3:checked + label>span{
    	background: url("images/icons/bug-grey25.png") no-repeat;
    	cursor: default;
    }
    
    #gpio-ref {
    	width: 28px;
    	background: url("images/icons/gpio-white25.png") no-repeat;
    	display: block;
    	margin: 0 auto;
    }
    #tab-4:checked + label>span{
    	background: url("images/icons/gpio-grey25.png") no-repeat;
    	cursor: default;
    }


    object {
    	width: 400px;
    	height: 100%;
    }


    
    #api-ref {
    	width: 28px;
    	background: url("images/icons/book-white25.png") no-repeat;
    	display: block;
    	margin: 0 auto;
    }
    #tab-5:checked + label>span{
    	background: url("images/icons/book-grey25.png") no-repeat;
    }

    [type=radio]:checked ~ label {
      background: #fff;
      z-index: 2;
      border-left: 1px solid #e8e8e8;
    }
    [type=radio]:checked ~ label ~ .tabContent {
      z-index: 1;
      visibility: visible;
    }
    .holder {
    	display: inline;
    	color: transparent;
    }

/* tab content */

.tabContent > h1{
	box-shadow: -10px -10px -5px #888888;
	margin: 10px 0;
}

.tabContent > h2{
	margin: 8px 0;
}

/* file manager tab */

#fileList{
    margin: 5px 0;
    list-style: none;
}
#fileList li{
	margin-top: 0.4em;
	width: 97%;
	font-family: Consolas;
	color: #aaa;
	font-size: 12px;
}
#fileList ul{
	margin: 5px 0 0 12px;
    font-family: Consolas;
    color: #aaa;
    font-size: 12px;
}

.sourceFile{
	cursor: pointer;
}
.resourceFile, .sourceFile{
	margin-left: 1em;
}
.sourceFile:before, .resourceFile:before{ 
    content: "–";
    display: block;
    height: 0;
    width: 0;
    left: -0.75em;
    position: relative;
}
#fileList ul:before{
	content: "+";
    display: block;
    height: 0;
    width: 0;
    left: -0.75em;
    position: relative;
}
.sourceFile:hover { 
    background-color: #dffdd5;
}
.selectedFile{
	background-color: #A8DA97;
}
#uploadFileInput{
	display: none;
}

#commits{
	max-width: 50%;
}


.settingsManager-parent {
	font-family: Consolas;
	font-size: 11px;
	line-height: 18px;
}
.tabTable {
	width: 100%;
}
	.tabTable td {
		width: 175px;
		text-align: right;
		padding-right: 5px;
	}
	.tabTable td + td {
		text-align: left;
	}

.debug-table {
}
	.debug-table td {
		width: 120px;
		text-align: right;
		padding-right: 5px;
	}
	.debug-table td + td {
		text-align: left;
	}

.debug-buttons {
	margin: 10px 0;
}

.settings-button {
	margin-top: -7px;
}

/* settings tab */
#settingsTab{
	line-height: 1.5;
}
#settingsTab>input, #settingsTab>select{
	position: absolute;
	right: 50px;
}
#C_L_ARGS{
	left: 20px;
    width: 200px;
    margin-bottom: 30px;
	background-color: gainsboro;
}

/* Project explorer */
/*
.proj-expl-table tr {
	border: 1px solid red;
	width: 100%;
}
*/
.proj-expl-table {
	width: 100%;
}

	.proj-expl-table td {
		border: 1px solid red;
		text-align: left;
		width: 100%;
	}



.proj-expl {
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #f9f9f9;
	padding: 10px;
	margin-bottom: 10px;
	width: 94%;
}
	.proj-expl h2 {
		line-height: 30px;
		margin: -5px 0 5px 0;
		text-align: left;
		padding-left: 5px;
		color: #7DC684;
	}

.file-buttons {
	text-align: center;
	margin-bottom: 10px;
}

.fileSection {
	background: #e8e8e8;
	font-family: Consolas;
	font-color: #fff;
	padding: 3px 0 3px 10px;
}

button {
	line-height: 16px;
	padding: 1px 4px 0;
	font-family: Consolas;
	background: #eee;
	color: #aaa;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: middle;
	
}
	button:hover {
		cursor: pointer;
		background: #aaa;
		color: #fff;
		box-shadow: 2px 2px 2px #ddd;
		border: 1px solid #aaa;
	}
/* DOCS AND XML */
#xml {
	/* Hide the XML in the HTML */
	display: none;
}

label.docSectionHeader {
	margin: 5px 0 0 0;
	height: 15px;
	width: 100%;
	padding-left: 20px;
	background: #cccccc;
	font-family: Consolas, sans-serif;
	color: #fff;
	font-size: 14px;
}
	label.docSectionHeader:hover {
		background: #BFCCBB;
	}
label.docSectionHeader.sub {
	background: #ddd;
	margin-left: 20px;
}
label.docSectionHeader.sub:hover {
	background: #D7E2D3;
	margin-left: 20px;
}

/**** Documentation content styles ****/
.subsections div {
	margin-left: 30px;
	font-family: Consolas, sans-serif;
	font-size: 12px;
	padding: 10px 0;
}

.subsections div>h2 { /* title */

}
.subsections div>h3 { /* subtitle */

}
.subsections div>p { /* content */

}


.sections input + label + ul
{
	display: none;
}
.sections input:checked:not(:disabled) + label + ul
{
	display: block;
}

.subsections input + label + div
{
	display: none;
}

.subsections input:checked:not(:disabled) + label + div
{
	display: block;
}

.docs, docSectionHeader input[type=checkbox] {
	display: none;
}

/* Styles for dropdown menus */

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    width: 220px;
    padding-left: 28px;
    padding-top: 2px;
    font-size: 10px;
    font-family: Consolas;
    border: 1px solid #ccc;
    height: 20px;
    display: inline;
    background: #fff url("images/icons/drop_arrow.png") 10px 6px no-repeat;
    border-radius: 2px;
}
	.small {
		width: 100px;
		background: #fff url("images/icons/drop_arrow.png") 5px 6px no-repeat;
		padding-left: 22px;
	}
hr {
    border: 0; 
    height: 1px; 
    background: #ccc; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc); 
    width: 90%;
}